# pre-commit
# --extra-index-url https://test.pypi.org/simple
# hip-python
# clang-format==18.1.6
# hipify_torch @ git+https://github.com/ROCm/hipify_torch.git
# build
# triton>=3.3.0

pre-commit
--extra-index-url https://test.pypi.org/simple
# pibind11==2.13.6
hip-python
clang-format==18.1.6
hipify_torch @ git+https://github.com/ROCm/hipify_torch.git
build
triton==3.4
expecttest
pytest
pytest-xdist
setuptools==69.5.1
scipy
pandas
openpyxl